<footer class="footer page-footer">
  <img src="../../assets/band_logo_horizontal.png" alt="">
  
  <div class="social">
    <a target="_blank" href="https://www.facebook.com/Thesilencingmachine/">
      <img src="../../assets/fb_logo.png" alt="Facebook Link">
    </a>    
    <a target="_blank" href="https://www.instagram.com/thesilencingmachine/">
      <img src="../../assets/insta_logo.png" alt="Instagram Link">
    </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCxidSHubGkgG2ycy_D_5uMA/featured">
      <img src="../../assets/youtube_logo.png" alt="YouTube Link">
    </a>
    <a target="_blank" href="https://open.spotify.com/artist/2wW5Ihrv558VgWMhtRmvZi">
      <img src="../../assets/spotify_logo.png" alt="Spotify Link">
    </a>
  </div>
</footer>