@import "../../../../resources/_common.scss";

.single-about-section {
  margin: 2em 0;
  border: 2px solid lighten($bgblack, 25%);
  background-color: black;
  padding: 1em; 
  .image {
    img {
      width: 100%;
      border: 2px solid $offwhite;
    }
  }
  
  .descriptions {
    p {
      font-style: italic;
      font-size: 1.5em;  
    }
  }
}

@media only screen and (max-width: $xlarge) {
  .image {
    margin: 0 auto;
  }
  
  .descriptions {
    text-align: center;
    
    h3 {
      margin-top: 0.5em;
    }
  }
}

@media only screen and (min-width: $xlarge) {
  .about-section-container {
    .image {
      display: flex;
      align-items: center;
    }
  }
}