<div class="row section-container">
<div class="single-section section-background">
   <div class="col-xs-12 col-lg-12 about-section-container">
     <div 
     class="about-section-story">
      <app-about-section 
        [name]="'Our Story'"
      ></app-about-section>   
     </div>
   </div>
 </div>
 <div class="single-section section-members">
   <h1>Members</h1>
   <div class="col-xs-12 col-lg-12">
    <p class="about-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum asperiores ipsa praesentium ad assumenda magnam voluptas saepe, et culpa, veniam libero id officia adipisci. Voluptatum deleniti eaque alias, placeat et?</p> 
   </div>
   <div class="col-xs-12 col-lg-12 about-section-container">
     <div 
     class="about-section"
     *ngFor="let aboutSubject of aboutSubjects">
      <app-about-section 
        [name]="aboutSubject"
      ></app-about-section>   
     </div>
   </div>
 </div>
</div>

