.nav-header {
  font-size: 2.5em;
  margin-top: 2em;
  text-align: center;
}

.nav-list {
  &-item {
    font-size: 2em;
    list-style-type: none;
    margin: 2em 0;
    .active-link {
      color: red;
      &::before {
        content: url('../../assets/icon-star-inverted.png');
      }
    }   
    a {
      color: white;
      &::before {
        content: url('../../assets/icon-star.png');
        padding: 0 1px;
      }
    }
  }
}
