<h3 class="nav-header">THE SILENCING MACHINE</h3>
<ul class="nav-list">
    <li class="nav-list-item">
        <a routerLink="/about" routerLinkActive="active-link">About Us</a>
    </li>
    <li class="nav-list-item">
        <a routerLink="/media" routerLinkActive="active-link">Our Media</a>
    </li>
    <li class="nav-list-item">
        <a routerLink="/booking" routerLinkActive="active-link">Booking / Contact</a>
    </li>
    <li class="nav-list-item">
        <a routerLink="/upcoming-shows" routerLinkActive="active-link">Upcoming Shows</a>
    </li>
</ul>