.nav-header {
  font-size: 2.5em;
  margin-top: 2em;
  text-align: center;
}

.nav-list {
  &-item {
    font-size: 2.25em;
    list-style-type: none;
    margin: 3em 0;
    a {
      color: white;
      position: relative;
      right: 0.5em;
      &::before {
        content: url('../../assets/icon-star.png');
        padding: 0 0.5em;
      }
    }
    a.active-link {
      color: red;
      &::before {
        content: url('../../assets/icon-star-inverted.png');
      }
    }   
  }
}
