@import "../../resources/_common.scss";

.nav-header {
  font-size: 2.5em;
  margin-top: 2em;
  text-align: center;
}

.nav-list {
  &-item {
    font-size: 2.25em;
    list-style-type: none;
    margin: 3em 0;
    a {
      color: white;
      position: relative;
      right: 0.5em;
      &::before {
        content: url('../../assets/icon-star.png');
        padding: 0 0.5em;
      }
    }
    a.active-link {
      color: red;
      &::before {
        content: url('../../assets/icon-star-inverted.png');
      }
    }   
  }
}

@media only screen and (max-width: $xxlarge) {
  .nav-list {
    &-item {
      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: $large) and (max-width: $xlarge) {
    .page-content {
        left: 25%;
    }
}

@media only screen and (min-width: $xlarge){
    .page-content {
        left: 16.67%;
    }
}